process {
    withName: calculate_read_stats {
        cpus = 1
        memory = '5 GB'
    }
    withName: prelim_wtdbg2_assembly {
   	    cpus = 16
   	    memory = '10 GB'
    }
}



profiles {
    standard {
        process.executor = 'local'
    }
    farm {
        process.executor = 'lsf'
        executor.perJobMemLimit = true
    }
}